<mat-card>
	<mat-card-title>  Login  </mat-card-title>
	<mat-card-content>
		<form>


			<mat-form-field appearance="outline">
				<mat-label>Username/Email</mat-label>
				<input matInput placeholder="Enter Useraname/Email">
				</mat-form-field>
        <br>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput placeholder="Minimum 6 character">
				</mat-form-field>
				
        <br>
           <button mat-raised-button  color="primary"  
          routerLink="/register" class="login-button" >Register</button>
					      
		</form>
	</mat-card-content>
</mat-card>