


button {
  /* background: linear-gradient(90deg, rgba(117, 0, 245, 1) 0%, rgba(167, 0, 245) 100%); */
  background: transparent !important;  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  width: 60%;
  border-radius: 100px;
  transition: none !important;
  box-shadow: none !important;
}

.login-button {
  background: linear-gradient(90deg, rgb(0, 155, 245) 0%, rgb(0, 245, 212) 100%) !important;
    border: 1px solid white;
}

mat-card{
  width: 100%;
  background-color: transparent;
}

mat-form-field {
  width: 75%;
}


::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field-outline {
  color: rgb(0, 0, 0), 255), 0, 0) !important;
}

  mat-form-field.mat-form-field {
    color:white;
  }

    .half-space {
				margin: 5px;
			}

			.single-space {
				margin: 10px;
			}

			.double-space {
				margin: 20px;
			}