



	<mat-card-title>  REGISTER  </mat-card-title>
<br> <br> 
	<mat-card-content>
		<form>
       <br>
				<mat-form-field appearance="outline">
					<mat-label>Full Name</mat-label>
					<input matInput placeholder="First and Last name">
				</mat-form-field>
        <br>
          <mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput placeholder="Enter Email">
				</mat-form-field>
        <br>
					<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput placeholder="Minimum 6 character">
				</mat-form-field>
				<br>
      <button mat-raised-button  color="" routerLink="/home" class="login-button">Create Account</button>
					      
		</form>
	</mat-card-content>
